<!-- Footer -->
<footer class="w3-center my-footer w3-padding-64 w3-opacity w3-hover-opacity-off">
  <a href="#home" routerLink="/home" class="w3-button w3-light-grey" (click)="scroll(home)"><i class="fa fa-arrow-up w3-margin-right"></i>Back to home</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="w3-hover-opacity"><mat-icon svgIcon="github" style="margin-right: 0px"></mat-icon></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by&nbsp;<mat-icon svgIcon="angularColor"></mat-icon>
    <mat-icon svgIcon="css3"></mat-icon><mat-icon svgIcon="html5"></mat-icon><mat-icon svgIcon="ts1"></mat-icon>
    <mat-icon svgIcon="javascriptColor"></mat-icon></p>
</footer>