<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">ABOUT</h3>
  <div class="polaroid w3-content w3-container w3-padding-64">
      <img src="assets/images/meInItaly.jpg" alt="Myself" style="width:100%">
  <div class="container">
  <p class="w3-center"><em>Jonatha Parker - CEO and Lead Developer</em></p>
  <p>I have been a developer since 2013, starting my career at DST Systems in Kansas City, Missouri. I started working as a Software Developer using mainframe     
    tools such as JCL, DB2, spufies, and more. As I grew and learned the database tables better I began to work on application development for a very data driven architecture.
    I would write SELECT, INSERT, UPDATE, DELETE, and other various SQL queries on a complex tightly coupled data system for an application wrote in JavaFX,
    Java, and FXML. Another project I worked on during my time there was a Java web application. Using Java Server Pages, Java, HTML5, JavaScript, CSS, and SQL I
    revamped a legacy application using supplied company design rules. After my time there I started working at a company in Lenexa, Kansas called Catapult. 
    Using a Java based spring MVC application, Angular, HTLM5, CSS, JavaScript, and TypeScript I and four other teams in the Phillipines created an application 
    where Angular was relied on heavily. 
  </p>
</div>
  </div>
  <p class="w3-large w3-center w3-padding-16">I'm proficent at:</p>
  <p class="w3-wide"><mat-icon svgIcon="java"></mat-icon>Java</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
  </div>
  <p class="w3-wide"><mat-icon svgIcon="html"></mat-icon>HTML</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:80%">80%</div>
  </div>
  <p class="w3-wide"><mat-icon svgIcon="css"></mat-icon>CSS</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:80%">80%</div>
  </div>
  <p class="w3-wide"><mat-icon svgIcon="angular"></mat-icon>Angular</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
  </div>
  <p class="w3-wide"><mat-icon svgIcon="js"></mat-icon>JavaScript</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:70%">70%</div>
  </div>
  <p class="w3-wide"><mat-icon svgIcon="sql"></mat-icon>SQL</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:70%">70%</div>
  </div>
  <p class="w3-wide"><mat-icon svgIcon="ts"></mat-icon>TypeScript</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:60%">60%</div>
  </div>
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">7+ Years Programming</span>
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">4+ Websites Done</span>
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">5+ Programming Languages</span>
  </div>
</div>
