<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about" #about>
  
  <h3 class="w3-center">ABOUT</h3>
  <!-- <div class="polaroid w3-content w3-container w3-padding-64"> !-->
      <!-- <img src="assets/images/meInItaly.jpg" alt="Myself" style="width:100%"> -->
  <div class="container">
  <p class="w3-center"><em>We are here to help your business thrive!</em><br>
  From web design to search engine optimization, we have you covered. We have over ten years of exprecience in the industry. Even though 
  we are just getting started in our business, we understand what your business needs to outshine the competetion. We are proud Kansas Citians,
  that love supporting local businesses. We hope we can start building relationships with small business owners around the metro. Please reach out today! <br>
  <a href="tel:815-513-2548">Call now!</a>
  </p>

</div>
  </div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">Mobile and Desktop Friendly</span>
      <p class="w3-center">
        All of our websites are built with every screen resolution in mind. 
          In the industry we call this web design priciple 'responsive', which just means that the same
          website will look good on any screen. Whether it be an iPhone or a desktop computer. 
        </p>
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">Search Engine Optimization</span>
        <p class="w3-center">
          We understand what Goolge is looking for and how to achieve what we need. Searching is important,
          and we have done optimization before. This will only help you stand out even more. 
        </p>
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">Future proof technology</span>
      <p class="w3-center">
        We will use whatever the client prefers, whether that be a framework or just html, javascript and css. 
        What we <b>will not</b> do is push for complexity. We will start as simple as your company needs and will even 
        go as far to show you and discuss what technology we think would best suit you. We 
        have a passion for this and love discussing it!
        </p>
    </div>
  </div>