<!-- Container (Contact Section) -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
  </div>
</div>
<div class="w3-content w3-container w3-padding-64" id="contact">
  <h3 class="w3-center">WHERE WE WORK</h3>
  <p class="w3-center"><em>We would love your feedback!</em></p>

  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <img src="assets/images/kcmo.jpg" class="w3-image w3-round" style="width:100%">
    </div>
    <div class="w3-col m8 w3-panel">
      <div class="w3-large w3-margin-bottom">
	    <i class="fa fa-envelope" style="width:30px"> </i> Email: KcCustomStrats@gmail.com<br>
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Kansas City, MO<br>
      </div>
      <button class="w3-button w3-black w3-right w3-section" onclick="location.href='mailto:kccustomstrats@gmail.com?Subject=Contacting about KC Custom Strategies';" type="submit" style="padding-left: 10px; float: none !important">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
      <!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" #name formControlName= "name" placeholder="Name" required name="Name" 
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
          </div>
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" #fromEmail formControlName= "fromEmail" placeholder="Email" required name="Email" 
            [ngClass]="{ 'is-invalid': submitted && f.fromEmail.errors }">
          </div>
        </div>
        <input class="w3-input w3-border" type="text" #message formControlName= "message" placeholder="Message" required name="Message" 
        [ngClass]="{ 'is-invalid': submitted && f.message.errors }">
        <button class="w3-button w3-black w3-right w3-section" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
          
        </button>
      </form> -->
    </div>
  </div>
  <!-- <div [hidden]="!submitted" class="contact-message modal">
  <div *ngIf="error">
    <h2 class="success">Error!</h2>
    <h4>I'm sorry but for some reason the email could not be sent.</h4>
    <br />
    <button (click)="goToHome()" class="w3-button w3-black w3-section">OK</button>
  </div>
    <div *ngIf="success" class="contact-success">
      <h2 class="success">Success!</h2>
      <h4>Contact form has been successfully submitted.</h4>
      <br />
      <button (click)="goToHome()" class="w3-button w3-black w3-section">OK</button>
    </div> -->
</div>
<!-- <ngx-twitter-timeline 
    [data]="{sourceType: 'url', url: 'https://twitter.com/jonnyp4rko'}"
    [opts]="{tweetLimit: 5}"
></ngx-twitter-timeline> -->