<div class="w3-row w3-center w3-padding-16" id="pricing" style="background-color: #000079">
    <span class="w3-xxlarge w3-text-white w3-wide">PRICING</span>
    <br>

  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">Basic Design</span>
    <p class="w3-center">
      $4000+
      <br>
      This includes the design and hosting. 
      </p>
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">Yearly Updates</span>
      <p class="w3-center">
        $500+ a year
        <br>
        If you do not want an update it will be $250 to keep the site online. 
      </p>
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">Search Engine Optimization</span>
    <p class="w3-center">
      $1000+
      <br>
      This includes Google. 
      </p>
  </div>
  <div class="w3-quarter w3-section">
      <span class="w3-xlarge">Accepting Payments</span>
      <p class="w3-center">
        $3000+
        <br>
        If you need to accept any kind of payments, donations, etc. 
        </p>
    </div>
</div>