.logo {
    max-width: 126px;
  }

  a {
    background:
       linear-gradient(
         to bottom, var(--mainColor) 0%,
         var(--mainColor) 100%
       );
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 4px 4px;
    color: #fff;
    text-decoration: none;
    transition: background-size .2s;
  }
  
  a:hover {
    background-size: 4px 50px;
  }

  @media (max-width: 750px) {
    .hide-small {
        display: none!important;
    }
  }


@media (min-width: 751px) {
  .hide-large {
      display: none!important;
  }
}