<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 logo w3-display-container w3-opacity-min" id="home" #home (scroll)="blurImg($event)">

<div class="w3-display-center w3-text-white" style="padding:48px;    margin: 0;
position: absolute;
top: 60%;
left: 50%;
margin-right: -50%;
text-align: center;
transform: translate(-50%, -50%);">
<!-- <div class="opaque-background" style="background-color: red !important; opacity: 0.4" >
  <div class="w3-xxlarge" style="padding: 5px">The Northland is where I work, where I live, 
    and where I’m <i>from.</i></div>
</div> -->
<div class="opaque-background" style="background-color: black !important; opacity: 0.4 !important; ">
  <span class="w3-jumbo w3-hide-small">Blackbird Strategies</span>
  <span class="w3-xxlarge w3-hide-large w3-hide-medium">Blackbird Strategies</span>
<br>
  <span class="w3-xxlarge w3-hide-small">Design, develop, strategize.</span>
  <span class="w3-large w3-hide-large w3-hide-medium">Design, develop, strategize.</span>
</div>
</div> 

</div>

